# Scraping stocks data from tickertape

#### Importing libraries

In [1]:
import requests
from bs4 import BeautifulSoup

In [3]:
import pandas as pd

In [25]:
base_site = "https://www.tickertape.in/screener/equity"

In [26]:
response = requests.get(base_site)
response.status_code

200

In [27]:
html = response.content

In [28]:
type(html)

bytes

### making a soup

In [29]:
soup = BeautifulSoup(html,"html5lib")

In [30]:
len(soup.contents)

2

### saving contents to html file

In [31]:
with open('stocks_html5lib.html', mode= 'wb') as file:
    file.write(soup.prettify('utf-8'))

 we parsed the html file with BeautifullSoup and saved data to a file, we can proceed further for extracting data.

### extracting stocks name

In [34]:
table = soup.find('section', class_= "jsx-1054294817 typography-body-regular-m text-primary col-container d-flex-row relative")
len(table)

8

In [41]:
t_name = table.find_all('span', class_="jsx-1054294817 data-cell screener-cell ellipsis highlight-onhover")

In [45]:
name = [n.find('span', class_="jsx-1054294817 desktop--only pointer").text for n in t_name]
name

['Reliance Industries Ltd',
 'Tata Consultancy Services Ltd',
 'HDFC Bank Ltd',
 'Infosys Ltd',
 'Hindustan Unilever Ltd',
 'ICICI Bank Ltd',
 'State Bank of India',
 'Housing Development Finance Corporation Ltd',
 'Bajaj Finance Ltd',
 'Bharti Airtel Ltd',
 'Kotak Mahindra Bank Ltd',
 'HCL Technologies Ltd',
 'Asian Paints Ltd',
 'Wipro Ltd',
 'Adani Green Energy Ltd',
 'ITC Ltd',
 'Avenue Supermarts Ltd',
 'Larsen & Toubro Ltd',
 'Maruti Suzuki India Ltd',
 'Bajaj Finserv Ltd']

# extracting sub-sector

In [48]:
table.find_all('span', class_="jsx-3425801674 data-cell screener-cell ellipsis desktop--only")[0].text

'Oil & Gas - Refining & Marketing'

In [50]:
t_sub_sector = table.find_all('span', class_="jsx-3425801674 data-cell screener-cell ellipsis desktop--only")

In [52]:
sub_sector= [s.text for s in t_sub_sector]
sub_sector

['Oil & Gas - Refining & Marketing',
 'IT Services & Consulting',
 'Private Banks',
 'IT Services & Consulting',
 'FMCG - Household Products',
 'Private Banks',
 'Public Banks',
 'Home Financing',
 'Consumer Finance',
 'Telecom Services',
 'Private Banks',
 'IT Services & Consulting',
 'Paints',
 'IT Services & Consulting',
 'Renewable Energy',
 'FMCG - Tobacco',
 'Retail - Department Stores',
 'Construction & Engineering',
 'Four Wheelers',
 'Insurance']

### extracting marketcap, price, PE Ratio

In [62]:
table.find_all('span', class_="jsx-3425801674 data-cell screener-cell desktop--only")[0].text

'15,82,085.62'

In [65]:
t_alldata = table.find_all('span', class_="jsx-3425801674 data-cell screener-cell desktop--only")
len(t_alldata)

60

In [66]:
t_alldata= [s.text for s in t_marketcap]
len(t_alldata)

60

In [67]:
# extracting marketcap
marketcap = t_alldata[:20]
marketcap

['15,82,085.62',
 '13,81,133.31',
 '8,16,901.65',
 '7,05,428.96',
 '5,23,618.16',
 '5,23,517.86',
 '4,47,480.02',
 '4,16,068.10',
 '4,09,191.23',
 '3,97,009.98',
 '3,47,039.25',
 '3,11,108.13',
 '3,01,448.85',
 '2,95,989.73',
 '2,91,242.92',
 '2,70,422.45',
 '2,57,802.11',
 '2,52,753.36',
 '2,52,732.26',
 '2,49,130.42']

In [68]:
# extracting price
price = t_alldata[20:40]
price

['2,338.55',
 '3,733.75',
 '1,473.70',
 '1,682.20',
 '2,228.55',
 '753.70',
 '501.40',
 '2,296.80',
 '6,785.95',
 '689.70',
 '1,746.85',
 '1,146.45',
 '3,143.45',
 '541.70',
 '1,862.15',
 '219.45',
 '3,979.75',
 '1,799.00',
 '8,366.40',
 '15,674.15']

In [70]:
PE_Ratio = t_alldata[40:60]
PE_Ratio

['32.20',
 '42.59',
 '25.66',
 '36.45',
 '65.49',
 '28.48',
 '19.97',
 '22.20',
 '92.58',
 '-26.32',
 '34.74',
 '27.91',
 '96.02',
 '27.42',
 '1,386.87',
 '20.55',
 '234.47',
 '21.82',
 '57.58',
 '55.73']

### now combining all data into a data frame

In [71]:
stocks = pd.DataFrame()

In [72]:
stocks['name'] = name
stocks['sub-sector'] = sub_sector
stocks['marketcap'] = marketcap
stocks['price'] = price
stocks['PE-Ratio'] = PE_Ratio

In [73]:
stocks

,name,sub-sector,marketcap,price,PE-Ratio
0,Reliance Industries Ltd,Oil & Gas - Refining & Marketing,"15,82,085.62","2,338.55",32.20
1,Tata Consultancy Services Ltd,IT Services & Consulting,"13,81,133.31","3,733.75",42.59
2,HDFC Bank Ltd,Private Banks,"8,16,901.65","1,473.70",25.66
3,Infosys Ltd,IT Services & Consulting,"7,05,428.96","1,682.20",36.45
4,Hindustan Unilever Ltd,FMCG - Household Products,"5,23,618.16","2,228.55",65.49
5,ICICI Bank Ltd,Private Banks,"5,23,517.86",753.70,28.48
6,State Bank of India,Public Banks,"4,47,480.02",501.40,19.97
7,Housing Development Finance Corporation Ltd,Home Financing,"4,16,068.10","2,296.80",22.20
8,Bajaj Finance Ltd,Consumer Finance,"4,09,191.23","6,785.95",92.58
9,Bharti Airtel Ltd,Telecom Services,"3,97,009.98",689.70,-26.32
10,Kotak Mahindra Bank Ltd,Private Banks,"3,47,039.25","1,746.85",34.74
11,HCL Technologies Ltd,IT Services & Consulting,"3,11,108.13","1,146.45",27.91
12,Asian Paints Ltd,Paints,"3,01,448.85","3,143.45",96.02
13,Wipro Ltd,IT Services & Consulting,"2,95,989.73",541.70,27.42
14,Adani Green Energy Ltd,Renewable Energy,"2,91,242.92","1,862.15","1,386.87"
15,ITC Ltd,FMCG - Tobacco,"2,70,422.45",219.45,20.55
16,Avenue Supermarts Ltd,Retail - Department Stores,"2,57,802.11","3,979.75",234.47
17,Larsen & Toubro Ltd,Construction & Engineering,"2,52,753.36","1,799.00",21.82
18,Maruti Suzuki India Ltd,Four Wheelers,"2,52,732.26","8,366.40",57.58
19,Bajaj Finserv Ltd,Insurance,"2,49,130.42","15,674.15",55.73

### saving dataframe into a csv file

In [74]:
stocks.to_csv('top_20_stocks.csv', index= False)